<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <title>Form Restock Barang</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="card m-4 p-4">
        <div class="card my-5">
            <div class="card-header">
                <h3 class="fw-bold">Restock Gudang</h3>
            </div>
            
            <div class="card-body">
              <div class="row text-left mb-2">
                <p class="card-title" th:text="'Nama gudang: ' + ${gudangDTO.nama}"></p>
                <p class="card-title" th:text="'Alamat gudang: ' +  ${gudangDTO.alamatGudang}"></p>
              </div>
              <form 
                method="POST"  
                th:action="@{'/gudang/' + ${gudangDTO.id} + '/restock-barang'}"
                th:object="${gudangDTO}">
                <!-- Row untuk + Tambah Barang -->
                <div class="row text-left mb-2">
                    <div class="col text-end">
                      <button class="btn btn-primary" type="submit" name="addRow">+ Tambah Barang</button>
                    </div>

                    <input type="hidden" th:field="${gudangDTO.id}" />
                    <input type="hidden" th:field="${gudangDTO.nama}" />
                    <input type="hidden" th:field="${gudangDTO.alamatGudang}" />

                    <table id="restockGudangTable" class="display">
                        <thead>
                            <tr>
                            <th>#</th> <!-- Kolom nomor urut -->
                            <th>Barang</th>
                            <th>Kuantitas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop untuk menampilkan data gudang -->
                            <tr th:each="gudangBarang, iterationStatus : *{listGudangBarang}">
                                <td th:text="${iterationStatus.index + 1}"></td> <!-- Menampilkan nomor urut -->
                                <td>
                                    <select th:field="*{listGudangBarang[__${iterationStatus.index}__].Barang.sku}" class="form-select">
                                        <div th:each="barang : ${listBarang}">
                                            <option th:value="${barang.sku}" th:text="${barang.merk}">
                                            </option>
                                        </div>
                                    </select>                        
                                </td>
                                <td>
                                    <input class="form-control" type="number" placeholder="Jumlah Barang"
                                    th:field="*{listGudangBarang[__${iterationStatus.index}__].stok}" th:value="0"/>

                                    <input type="hidden"
                                    th:field="*{listGudangBarang[__${iterationStatus.index}__].id}"
                                    />
                                    <input type="hidden"
                                    th:field="*{listGudangBarang[__${iterationStatus.index}__].gudang}"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Button Cancel dan Submit -->
                <a class="btn btn-danger" th:href="@{'/gudang/' + ${gudangDTO.id}}">Batal</a>

                
                <button class="btn btn-primary" type="submit">Submit</button>
    
              </form>
            </div>          
            </div>
          </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#restockGudangTable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [5, 10, 20], // Daftar pilihan jumlah tampilan
        "pageLength": 5, // Jumlah item per halaman (bisa disesuaikan)
        "ordering": false, // Menonaktifkan pengurutan pada kolom action
        "searching" : false,
        "rowCallback": function(row, data, index) {
          var api = this.api();
          var startIndex = api.page() * api.page.len();
          var counter = startIndex + index + 1;
          $('td:eq(0)', row).html(counter);
        }
      });
    });
  </script>
</body>
</html>
