<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <title>View All Barang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
      <div class="text-center pt-5">
        <h2>Daftar Barang</h2>
        <a th:href="@{/barang/tambah}" class="btn btn-primary">+ Tambah Barang</a>
      </div>
      <div class="table-responsive">
        <table id="barangTable" class="display">
          <thead class="table-dark">
            <tr>
              <th>#</th> <!-- Kolom nomor urut -->
              <th>SKU</th>
              <th>Merk</th>
              <th>Stok</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop untuk menampilkan data gudang -->
            <tr th:each="barang, status : ${listBarang}">
              <td th:text="${status.index + 1}"></td> <!-- Menampilkan nomor urut -->
              <td th:text="${barang.key.sku}"></td>
              <td th:text="${barang.key.merk}"></td>
              <td th:text="${barang.value}"></td>
              <td th:text="'Rp ' + ${#numbers.formatDecimal(barang.key.hargaBarang, 0, 'COMMA', 2, 'POINT')}"></td>
              <td>
                <a type="button" class="btn btn-md btn-primary" th:href="@{/barang/{id}(id=${barang.key.sku})}">Detail</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
        $(document).ready(function() {
          $('#barangTable').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [5, 10, 20], // Daftar pilihan jumlah tampilan
            "pageLength": 10, // Jumlah item per halaman (bisa disesuaikan)
            "ordering": false, // Menonaktifkan pengurutan pada kolom action
            "rowCallback": function(row, data, index) {
              var api = this.api();
              var startIndex = api.page() * api.page.len();
              var counter = startIndex + index + 1;
              $('td:eq(0)', row).html(counter);
            }
          });
      
          // Apply custom CSS to change title column text color
          $('#barangTable thead th').css('color', 'black');
        });
      </script>
      
  </body>
</html>